<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Controller.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Controller.Properties.Settings>
            <setting name="DBConnection" serializeAs="String">
                <value>Data Source=production-db;Initial Catalog=Builder;Integrated Security=True</value>
            </setting>
            <setting name="MailServer" serializeAs="String">
                <value>smtp.epicgames.net</value>
            </setting>
            <setting name="FailedLogLocation" serializeAs="String">
                <value>\\epicgames.net\Root\UE3\Builder\BuilderFailedLogs</value>
            </setting>
            <setting name="SymbolStoreLocation" serializeAs="String">
                <value>\\epicgames.net\Root\UE3\Builder\BuilderSymbols</value>
            </setting>
            <setting name="BuilderEmail" serializeAs="String">
                <value>build@epicgames.com</value>
            </setting>
            <setting name="BuilderAdminEmail" serializeAs="String">
                <value>builder-notify@epicgames.com</value>
            </setting>
        </Controller.Properties.Settings>
    </applicationSettings>
</configuration>