<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="UnrealFrontend.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
	<runtime>
		<generatePublisherEvidence enabled="false"/>
	</runtime>
    <userSettings>
        <UnrealFrontend.Properties.Settings>
            <setting name="UFEMainWindowLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="UFEMainWindowSelectedTab" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UFEMainWindowSize" serializeAs="String">
                <value>1440, 965</value>
            </setting>
            <setting name="WindowSpacing" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="SelectedGameName" serializeAs="String">
                <value>ExampleGame</value>
            </setting>
            <setting name="SelectedPlatform" serializeAs="String">
                <value>PC</value>
            </setting>
            <setting name="OptionsFormLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="OptionsFormWindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="OptionsFormSize" serializeAs="String">
                <value>567, 409</value>
            </setting>
            <setting name="OptionsFormSelectedTabIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Game_ExecCommands" serializeAs="String">
                <value />
            </setting>
            <setting name="Game_UseCookedMap" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Game_NoSound" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Game_NoVSync" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Game_MultiThreaded" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Game_NumClients" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Game_ShowLog" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Game_RemoteControl" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ConsoleTargets_ConsoleBaseDir" serializeAs="String">
                <value />
            </setting>
            <setting name="ConsoleTargets_RebootBeforeCopy" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Cooking_ForceSeekFreeRecook" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Cooking_FinalReleaseScripts" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Cooking_ForceSoundRecook" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Cooking_RunLocalGame" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Cooking_UseSeekFreeData" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Game_Resolution" serializeAs="String">
                <value>1280x720</value>
            </setting>
            <setting name="Game_ServerTypeSelectedIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Compiling_RunWithCookedData" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Compiling_VerboseMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Compiling_AutoMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Compiling_FullRecompile" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ConfigurationSelectedIndex" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="CommandletOutputSize" serializeAs="String">
                <value>729, 834</value>
            </setting>
            <setting name="UFEWindowSplitterDistance" serializeAs="String">
                <value>691</value>
            </setting>
            <setting name="Cooking_DisablePackageCompression" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Cooking_AdditionalOptions" serializeAs="String">
                <value />
            </setting>
            <setting name="Game_ExtraOptions" serializeAs="String">
                <value />
            </setting>
            <setting name="CookingConfigurationSelectedIndex" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Game_ClearUCWindow" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ConsoleTargets_ShowAllTargetInfo" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ConsoleTargets_CopyFilesRequiredForSymbolLookup"
                serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Game_GoW2SelectedChapterIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Game_GoW2OverrideSPMap" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Cooking_SkipScriptCompilation" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Game_EncryptedSockets" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Cooking_ShowBalloon" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Cooking_NoLocCooking" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Global_CoderMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CompilingConfigurationSelectedIndex" serializeAs="String">
                <value>1</value>
            </setting>
        </UnrealFrontend.Properties.Settings>
    </userSettings>
</configuration>