<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="NetworkProfiler.Properties.Settings.NetworkPerfConnectionString"
            connectionString="Data Source=dev-db;Initial Catalog=NetworkPerf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>